<h1>Stupid Coaching</h1>

<!--  -->

  <div class="question_container">
    <div class="question">
      <h3><%= @question%></h3>
      <p>_You</p>
    </div>
    <div class="answer">
      <h3><%= @answer%></h3>
      <p>_Your Coach</p>
    </div>
    <div class= btn-primary>
    <%= link_to "Ask another question", questions_path %>
    </div>
  </div>

