<h1>Stupid coaching</h1>

<!-- display question -->

<div class="anwser_container">
  <form action="answer">
    <input type="text" name="question" class="form-control" placeholder="Ask your coach a question!">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
